<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
    <script src="js/app.js" defer ></script>
    </head>
  <body class="">
    <nav class="flex items-center justify-between flex-wrap bg-indigo-600 p-6">
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <span class="font-semibold text-xl tracking-tight">Hunter Weather</span>
      </div>
      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow">
          <a href="http://localhost:3000/" class="block lg:inline-block font-sans lg:mt-0 text-white hover:text-white mr-4">
            Méteo du jour
          </a>
          <a href="http://localhost:3000/sevendays" class="block lg:inline-block font-sans lg:mt-0 text-white hover:text-white mr-4">
            Méteo du 7 jours
          </a>
          <a href="http://localhost:3000/chartdays" class="block lg:inline-block font-sans lg:mt-0 text-white hover:text-white mr-4">
            charts
          </a>
        </div>
      </div>
      
    </nav>