<div class="flex flex-wrap">
    <div class="w-full sm:w-8/12 mb-10">
        <div class="container mx-auto h-full sm:p-10">
            <%- include('partials/header') %>
            <header class="container px-4 lg:flex mt-10 items-center h-full lg:mt-0">
                <div class="w-full">
                    <div class="absolute top-0 left-0 z-10 grid-indigo w-16 h-16 md:w-40 md:h-40 md:ml-20 md:mt-24"></div>
                    <h1 class="text-4xl lg:text-6xl font-bold">Find the <span class="text-purple-700">Weather</span> to
                        travel</h1>
                    <div class="w-20 h-2 bg-purple-700 my-4"></div>
                    <p class="text-xl mb-10">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut eaque, veritatis mollitia tempore quo ea quidem porro tempora enim rerum ab dolore voluptate repellat ipsa aliquam voluptatem dicta quam perferendis!
                    Recusandae eum deleniti repellat quas fugit dignissimos blanditiis omnis unde laboriosam similique reprehenderit, distinctio, odio mollitia aliquam debitis id sint corrupti amet incidunt aut quasi fugiat! Delectus unde dicta laboriosam?</p>
                    <button class="bg-purple-500 text-white text-2xl font-medium px-4 py-2 rounded shadow">Learn
                        More</button>
                </div>
            </header>
        </div>
    </div>
    <img src="img/bg/palmier.jpg" alt="Leafs"
        class="w-full h-48 object-cover sm:h-screen sm:w-4/12">
</div>